{% extends 'base.html' %}
{% block content %}
<h3> 1 {{ test.name }}</h3>
<p>2 {{ test.text|linebreaksbr }}</p>
<p>3 {{ que }} </p>
<p>4 {{ questions }} </p>
<p>5 {{ question }} </p>
<p>5 {{ test }} </p>
<p>6 {{ answers }} </p>
<p>7 {{ str }} </p>
<form method="post">
    {% csrf_token %}
    <div class="question ml-sm-5 pl-sm-5 pt-2">
        <div class="py-2 h5"><b>{{question.text}}</b></div>
        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
            {% for answer in answers %}
            <label class="options">
                <input type="radio" name="user_answer" value="{{answer.id}}">
                <span class="checkmark"></span>
                {{answer.text}}
            </label>
            <p></p>
            {% endfor %}
        </div>
    </div>
    <div class="d-flex align-items-center pt-3">
        <div class="ml-auto mr-sm-5">
            <input type="submit" value="Sumbit">
        </div>
    </div>
</form>
{{ cnt }}
{% endblock content %}